:root {
    --color1: blue;
    --color2: red;
    --color3: green;
    --color4: yellow;
    --color5: orange;
    --color6: purple;
    --color7: pink;
    --color8: turquoise;
}

#all {
    margin: 0;
    background-color: rgb(39, 39, 39);
}

.container {
    display: grid;
    height: min(100vw, 100vh);
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    background-image: radial-gradient(circle, var(--color1),
     var(--color2),
     var(--color3),
     var(--color4),
     var(--color5),
     var(--color6),
     var(--color7),
     var(--color8));
}

#time {
    text-align: center;
    height: min(10vw, 10vh);
    vertical-align: middle;
    line-height: min(10vw, 10vh);
    margin: min(4vw, 4vh);
    font-size: min(7vw, 7vh);
    color: rgb(224, 222, 222);
    font-family: Helvetica;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgb(0, 0, 0),
     2px -2px 2px rgb(0, 0, 0),
     -2px 2px 2px rgb(0, 0, 0),
     -2px -2px 2px rgb(0, 0, 0);
}

.frame {
    width: min(65vw, 65vh);
    height: min(65vw, 65vh);
    justify-content: center;
    align-items: center;
    display: grid;
    border-radius: 100%;
    position: relative;
    --f: min(0.5vw, 0.55vh);
    --n: calc(-1 * var(--f));
    box-shadow: var(--f) var(--f) 10px inset rgb(255, 255, 255),
    var(--n) var(--n) 10px inset rgb(255, 255, 255),
    var(--n) var(--f) 10px inset rgb(255, 255, 255),
    var(--f) var(--n) 10px inset rgb(255, 255, 255),
    var(--f) var(--f) 10px rgb(255, 255, 255),
    var(--n) var(--n) 10px rgb(255, 255, 255),
    var(--n) var(--f) 10px rgb(255, 255, 255),
    var(--f) var(--n) 10px rgb(255, 255, 255);
}

.seconds {
    width: 10px;
    height: min(60vw, 60vh);
    /* animation: 60s rotateSeconds linear infinite; */
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: min(32vw, 32vh);

}

/* @keyframes rotateSeconds {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(359deg);}
} */

.visible-seconds {
    background-color: rgb(170, 170, 170);
    width: min(0.7vw, 0.7vh);
    min-width: 5px;
    height: 49.95%;
    border-radius: 10px;
}

.center-seconds {
    background-color: rgb(156, 138, 138);
    height: 0.1%;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-seconds {
    background-color: rgb(235, 32, 32);
    width: 5px;
    height: 49.95%;
    visibility: hidden;
}

.minutes {
    width: 10px;
    height: min(45vw, 45vh);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: min(32vw, 32vh)
}

.visible-minutes {
    background-color: rgb(109, 109, 109);
    width: min(0.7vw, 0.7vh);
    min-width: 5px;
    height: 49.95%;
    border-radius: 10px;
}

.center-minutes {
    background-color: rgb(255, 211, 16);
    height: 0.1%;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-minutes {
    background-color: rgb(61, 88, 243);
    height: 49.95%;
    width: 5px;
    visibility: hidden;
}

.hours {
    width: 10px;
    height: min(30vw, 30vh);
    /* animation: 60s rotateSeconds linear infinite; */
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: min(32vw, 32vh)
}

.visible-hours {
    background-color: rgb(0, 0, 0);
    width: min(0.7vw, 0.7vh);
    min-width: 5px;
    height: 49.95%;
    border-radius: 10px;
}

.center-hours {
    background-color: rgb(0, 0, 0);
    height: 0.1%;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-hours {
    background-color: rgb(233, 85, 27);
    width: 5px;
    height: 49.95%;
    visibility: hidden;
}

.regular-link {
    text-align: center;
    height: min(10vw, 10vh);
    line-height: min(10vw, 10vh);
    margin: min(4vw, 4vh);
    margin-right: auto;
    margin-left: auto;
    width: min(30vw, 30vh);
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Helvetica;
    font-size: min(3vw, 3vh);
    text-shadow: 2px 2px 2px rgb(7, 7, 7),
    2px -2px 2px rgb(0, 0, 0),
    -2px 2px 2px rgb(0, 0, 0),
    -2px -2px 2px rgb(0, 0, 0);
}

.regular-link:hover {
    box-shadow: 2px 2px 5px inset white,
    -2px -2px 5px inset white,
    -2px 2px 5px inset white,
    2px -2px 5px inset white,
    2px 2px 5px white,
    -2px -2px 5px white,
    -2px 2px 5px white,
    2px -2px 5px white;;
}
