:root {
    --color1: blue;
    --color2: red;
    --color3: green;
    --color4: yellow;
    --color5: orange;
    --color6: purple;
    --color7: pink;
    --color8: turquoise;
}

#all {
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle, var(--color1),
     var(--color2),
     var(--color3),
     var(--color4),
     var(--color5),
     var(--color6),
     var(--color7),
     var(--color8));
}

.container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    height: 93vh;
    
}

#time {
    text-align: center;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    font-size: 60px;
    color: rgb(35, 117, 224);
    font-family: Helvetica;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgb(255, 255, 255),
     2px -2px 2px rgb(255, 255, 255),
     -2px 2px 2px rgb(255, 255, 255),
     -2px -2px 2px rgb(255, 255, 255);
}

.frame {
    width: 520px;
    height: 520px;
    justify-content: center;
    align-items: center;
    display: grid;
    border-radius: 100%;
    position: relative;
    box-shadow: 5px 5px 10px inset white,
    -5px -5px 10px inset white,
    -5px 5px 10px inset white,
    5px -5px 10px inset white,
    5px 5px 10px white,
    -5px -5px 10px white,
    -5px 5px 10px white,
    5px -5px 10px white;;
}

.seconds {
    width: 10px;
    height: 500px;
    /* animation: 60s rotateSeconds linear infinite; */
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 260px;

}

/* @keyframes rotateSeconds {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(359deg);}
} */

.visible-seconds {
    background-color: rgb(223, 116, 116);
    width: 5px;
    height: 45%;
}

.center-seconds {
    background-color: rgb(0, 0, 0);
    height: 1px;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-seconds {
    background-color: rgb(235, 32, 32);
    width: 5px;
    height: 45%;
    visibility: hidden;
}



.minutes {
    width: 10px;
    height: 400px;
    /* animation: 60s rotateSeconds linear infinite; */
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 260px;
}

.visible-minutes {
    background-color: rgb(98, 224, 119);
    width: 5px;
    height: 45%;

}

.center-minutes {
    background-color: rgb(255, 211, 16);
    height: 1px;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-minutes {
    background-color: rgb(61, 88, 243);
    height: 45%;
    width: 5px;
    visibility: hidden;
}

.hours {
    width: 10px;
    height: 300px;
    /* animation: 60s rotateSeconds linear infinite; */
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 260px;
}

.visible-hours {
    background-color: rgb(111, 124, 238);
    width: 5px;
    height: 45%;
}

.center-hours {
    background-color: rgb(0, 0, 0);
    height: 1px;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-hours {
    background-color: rgb(233, 85, 27);
    width: 5px;
    height: 45%;
    visibility: hidden;
}

.regular-link {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Helvetica;
}

.regular-link:hover {
    box-shadow: 2px 2px 5px inset white,
    -2px -2px 5px inset white,
    -2px 2px 5px inset white,
    2px -2px 5px inset white,
    2px 2px 5px white,
    -2px -2px 5px white,
    -2px 2px 5px white,
    2px -2px 5px white;;
}
