#all {
    height: min(100vw, 100vh);
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

#time {
    text-align: center;
    height: min(10vw, 10vh);
    vertical-align: middle;
    line-height: min(10vw, 10vh);
    font-size: min(7vw, 7vh);
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 300;
}

.frame {
    width: min(65vw, 65vh);
    height: min(65vw, 65vh);
    justify-content: center;
    align-items: center;
    display: grid;
    border-radius: 100%;
    position: relative;
    --f: min(0.25vw, 0.25vh);
    --n: calc(-1 * var(--f));
    box-shadow: var(--f) var(--f) inset rgb(0, 0, 0),
    var(--n) var(--n) inset rgb(0, 0, 0),
    var(--n) var(--f) inset rgb(0, 0, 0),
    var(--f) var(--n) inset rgb(0, 0, 0),
    var(--f) var(--f) rgb(0, 0, 0),
    var(--n) var(--n) rgb(0, 0, 0),
    var(--n) var(--f) rgb(0, 0, 0),
    var(--f) var(--n) rgb(0, 0, 0);
}

.seconds {
    width: min(0.7vw, 0.7vh);
    height: min(60vw, 60vh);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: min(32vw, 32vh);
}

.visible-seconds {
    background-color: rgb(223, 116, 116);
    width: min(0.7vw, 0.7vh);
    min-width: 5px;
    height: 49.95%;
    border-radius: 10px;
}

.center-seconds {
    background-color: rgb(0, 0, 0);
    height: 0.1%;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-seconds {
    background-color: rgb(235, 32, 32);
    width: 5px;
    height: 49.95%;
    visibility: hidden;
}

.minutes {
    width: min(0.7vw, 0.7vh);
    height: min(45vw, 45vh);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: min(32vw, 32vh)
}

.visible-minutes {
    background-color: rgb(98, 224, 119);
    width: min(0.7vw, 0.7vh);
    min-width: 5px;
    height: 49.95%;
    border-radius: 10px;
}

.center-minutes {
    background-color: rgb(255, 211, 16);
    height: 0.1%;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-minutes {
    background-color: rgb(61, 88, 243);
    height: 49.95%;
    width: 5px;
    visibility: hidden;
}

.hours {
    width: min(0.7vw, 0.7vh);
    height: min(30vw, 30vh);
    /* animation: 60s rotateSeconds linear infinite; */
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: min(32vw, 32vh)
}

.visible-hours {
    background-color: rgb(111, 124, 238);
    width: min(0.7vw, 0.7vh);
    min-width: 5px;
    height: 49.95%;
    border-radius: 10px;
}

.center-hours {
    background-color: rgb(0, 0, 0);
    height: 0.1%;
    width: 1px;
    border-radius: 100%;
    visibility: hidden;
}

.invisible-hours {
    background-color: rgb(233, 85, 27);
    width: 5px;
    height: 49.95%;
    visibility: hidden;
}

.number {
    font-size: min(3vw, 4vh);
    font-family: Helvetica;
    color: rgb(61, 61, 61);
    text-align: center;
    position: absolute;
}

.bottom-row {
    width: min(65vw, 65vh);
    display: flex;
    margin-top: min(6vw, 6vh);
    font-family: Helvetica;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    height: min(8vw, 8vh);

}

.bottom-row > button, .bottom-row > button:focus{
    width: 33.3%;
    height: 100%;
    font-size: min(2vw, 2vh);
    border: none;
    background-color: rgb(51, 51, 51);
    color: white;
    outline: none;
}

.bottom-row > button:hover {
    background-color: rgb(78, 78, 78);
    color: white;
    transform: scale(1.05);
}

@media only screen and (max-width: 570px) {
    .bottom-row {
        margin-top: min(10vw, 10vh);
        width: min(65vw, 65vh);
        height: min(65vw, 65vh);
        flex-direction: column;
    }

    .bottom-row > button, .bottom-row > button:focus {
        font-size: min(4vw, 4vh);
        height: min(30vw, 30vh);
        margin: 10px;
        width: min(50vw, 50vh);
    }

}
